---
---

@import "{{ site.theme }}";

header {
  display: none;
}

body {
    color: #a0aab4;
    background-color: #001628;
}


h2 {
  color: yellowgreen;
}

.markdown-body blockquote > :last-child {
    color: yellowgreen;
}

h3 {
  color: deepskyblue;
}
