---
---

@import "{{ site.theme }}";

header {
  display: none;
}

body {
    color: #c5d6e7;
    background-color: #001628;
}

.markdown-body h2 {
    border-bottom: none;
}

h2 {
  color: darkturquoise;
}

.markdown-body blockquote > :last-child {
    color: chartreuse;
}

h3, h4 {
  color: deepskyblue;
}
